<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button1.css">
	<meta http-equiv="refresh" content="15" > <!-- refresh page every 15 seconds -->
</head>

<body>
	<!-- Navigation bar -->
    <div>
        <nav class="navbar navbar-default navigation-clean-button" style="background-color:rgba(255,255,255,0.86);">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="index" style="padding-top:5px;color:#2980ef;">UoA Chat <i class="icon ion-ios-chatboxes-outline" style="font-size:34px;"></i></a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="messages">Message someone</a></li>
                        <li role="presentation"><a href="profiles">View Profiles</a></li>
                    </ul>
                    <p class="navbar-text navbar-right actions"> <a class="btn btn-default action-button" role="button" href="/logoff" style="background-color:#2980ef;">Log Off</a></p>
            </div>
    </div>
    </nav>
    </div>
	
	<!-- Display your profile -->
    <div style="height:400px;">
        <div class="container" style="padding-top:2%;">
            <div class="row">
                <div class="col-md-6" style="height:50%;background-color:#ffffff;">
                    <p class="text-left" style="padding-left:10%;"></p>
                    <div class="jumbotron">
                        <h1 style="margin-top:5px;">Hi, {{username}}</h1><img src="{{profile.picture}}" style="width:200px;height:200px;/*padding-left:50%;*/margin:0px 27%;/*margin-left:25%;*/">
                        <p style="margin-top:5%;">Full Name: {{profile.fullname}}</p>
                        <p>Position: {{profile.position}}</p>
                        <p>Description: {{profile.description}}</p>
                        <p>Location: {{profile.location}}</p><a class="btn btn-default action-button" role="button" style="margin-left:38%" href="/editProfile">Edit Profile</a></div>
                </div>
				
				
				<!-- Display users -->
                <div class="col-md-6" style="/*height:200px;*//*width:10%;*/margin-top:5%;">
                    <h1>List of users</h1>
					<!-- Online users -->
                    <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
						{% for user in online %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="true" href="#accordion-1 .item-{{loop.index}}"><i class="fa fa-circle" style="color:rgb(3,139,0);"></i> {{user}} </a></h4>
                            </div>
                            <div class="panel-collapse collapse in item-{{loop.index}}" role="tabpanel">
                                <div class="panel-body"><a href="retrieveProfile?user={{user}}">View Profile</a><span> </span><a href="messages?username={{user}}" style="margin-left:5%;">Send Message</a></div>
                            </div>
                        </div>
						{% endfor %}
					<!-- Offline users -->
						{% for user in offline %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-{{loop.index + online_num}}"> <i class="fa fa-circle-o"></i> {{user}} </a></h4>
                            </div>
                            <div class="panel-collapse collapse item-{{loop.index + online_num}}" role="tabpanel">
                                <div class="panel-body"><a href="retrieveProfile?user={{user}}">View Profile</a><span> </span><a href="messages?username={{user}}" style="margin-left:5%;">Send Message</a></div>
                            </div>
                        </div>
						{% endfor %}
                    </div>
                    <ul class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>