<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button1.css">
</head>

<body>
    <div>
	<!-- Navigation bar -->
        <nav class="navbar navbar-default navigation-clean-button" style="background-color:rgba(255,255,255,0.86);">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="index" style="padding-top:5px;color:#2980ef;">UoA Chat <i class="icon ion-ios-chatboxes-outline" style="font-size:34px;"></i></a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="messages">Message someone</a></li>
                        <li role="presentation"><a href="profiles">View Profiles</a></li>
                    </ul>
                    <p class="navbar-text navbar-right actions"> <a class="btn btn-default action-button" role="button" href="/logoff" style="background-color:#2980ef;">Log Off</a></p>
            </div>
    </div>
    </nav>
    </div>
    <div style="height:400px;">
        <div class="container" style="padding-top:2%;">
            <div class="row">
				<!-- Display list of users -->
                <div class="col-md-6" style="height:50%;background-color:#eeeeee;border-radius:7.5px;">
                    <p class="text-left" style="padding-left:10%;"></p>
                    <h1>List of Users</h1>
                    <ul class="list-group">
						{% for user in online %}
                        <li class="list-group-item"><span><i class="fa fa-circle" style="color:rgb(3,139,0);"></i> <a href="messages?username={{user}}">{{user}}</a></span></li>
						{% endfor %}
						{% for user in offline %}
                        <li class="list-group-item"><span><i class="fa fa-circle-o"></i><a href="messages?username={{user}}"> {{user}} </a></span></li>
						{% endfor %}
                    </ul>
                </div>
				<!-- Message Form -->
                <div class="col-md-6">
                    <h1>Message {{kwargs.username}}</h1>
					 <form action="/sendMessage" method="post" enctype="multipart/form-data">
						<input type="hidden" name="destination" value = {{kwargs.username}}><br/>
						Message: <input type="text" name="message"/><br/><br>
					<input name="uploaded_file" type="file"><br>
					<input type="submit" value="Send message!"/></form><br><br><!--<input type="file" style="margin-top:2%;margin-bottom:2%;"><input type="text"><button class="btn btn-default" type="button" style="margin-left:5%;">Send Message</button> -->
                    <h1>Message History with {{kwargs.username}}</h1>
					<p>
				<!-- Message History -->
					<div id = "history">
					{{ messagehistory }}
					</div>
					</p>
                    <ul class="list-group"></ul>
                </div>
				
            </div>
        </div>
    </div>
<script>/*
!function() {
	 setInterval(function(){
	 alert($(location).attr('host');; 
	 }, 3000);	
}()
*/
/*
$(document).ready(
 function() {
     setInterval(function () {
		$( "#history" ).load(window.location.href + " #history" );
    }, 3000);  //Delay here = 3 seconds 
});
*/
</script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>